<html>
  <head>
    <title>Maryland 7th District</title>
    <link rel="stylesheet" href="./styles.css">

  </head>
  <body>
    <div>
      <figure>
        <img src="MapMaryland_district7.png" width="50%">
      </figure>
      <figcaption>
          <h1>Maryland 7<sup>st</sup> District</h1>
          <cite>From NationalAtlas.gov</cite>
        </figcaption>

    </div>

    <div class = "districts">
        <h3>Maryland 7<sup>st</sup> District Officials</h3>
        <!-- <ol>
            <li><a href="#">District Judge: Party: </a></li>
            <li><a href="#">Representative: Party: </a></li> -->
    </div>
    <div class = "Dist7-people">
        <ul>
            {{#each d1}}
            <li class="list-group-item">
                <div class="title">{{this.title}}</div>
                <div class="name">{{this.name}}</div>
                <div class="party">{{this.party}}</div>
                <div class="date">{{this.date}}</div>
                <div class="website">{{this.website}}</div>
            </li>
            {{/each}}
        </ul>
    </div>
    <hr>

  </body>
</html>
